
#footer{
    background-color: #202020;
    text-align: center;
    height:100px;
}

.footer-links{
    display: flex;
}
.footer-links li{
  list-style:none;
  flex-direction: column;
  color:white;
  width:50%;
  margin:auto;
  cursor: pointer; 
  margin-top:25px;
}
#footer p { 
    color:white;
    margin:25px 
    
}

